<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!-- META TAGS -->
    <!-- Open Graph / Facebook -->
    <meta property="og:image" content="https://i.postimg.cc/dQCYt95M/og-image.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://flaviofs.github.io/portfolio/">
    <meta property="og:title" content="Flávio Freitas - Personal Portfolio - @flafdraws">
    <meta property="og:description" content="Tech Artist | Software Developer | Social media: @flafdraws">
    <meta property="og:image:secure_url" content="https://i.postimg.cc/dQCYt95M/og-image.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://flaviofs.github.io/portfolio/">
    <meta property="twitter:title" content="Flávio Freitas - Personal Portfolio - @flafdraws">
    <meta property="twitter:description" content="Tech Artist | Software Developer | Social media: @flafdraws">
    <meta property="twitter:image" content="https://i.postimg.cc/dQCYt95M/og-image.jpg">

    <!-- Fallback Meta Tags -->
    <title>Flávio Freitas - Personal Portfolio</title>
    <meta name="title" content="Flávio Freitas - Personal Portfolio - @flafdraws">
    <meta name="description" content="Tech Artist | Software Developer | Social media: @flafdraws">
    <!-- META TAGS -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Flávio Freitas</title>
    <link rel="shortcut icon" href="img/avatar.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <script src="utils.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>

<body>
    <div id="app" v-cloak :style="{display: 'block'}">
        <v-app>
            <v-main>
                <v-app-bar flat height=110 class="d-flex justify-center" color="#111">
                    <div class="d-flex flex-row justify-center align-center">
                        <div class="profile d-flex justify-center align-center mr-2">
                            <v-avatar size=80>
                                <img src="img/avatar.png" alt="[Avatar]">
                            </v-avatar>
                        </div>
                        <div justify-center class="d-flex flex-column ml-5">
                            <v-row>
                                <h1>Flávio Freitas</h1>
                            </v-row>
                            <v-row>
                                <span class="subheading"> Tech Artist | Software Developer</span>
                            </v-row>
                            <v-row>
                                <span class="caption">@flafdraws</span>
                            </v-row>
                        </div>
                    </div>
                    </v-layout>
                </v-app-bar>

                <v-tabs v-model="tabIndex" @change="saveTab($event)" center-active icons-and-text centered show-arrows>
                    <v-tab v-for="tab in tabs" :key="tab.text">
                        {{tab.text}}
                        <v-icon>{{tab.icon}}</v-icon>
                    </v-tab>
                </v-tabs>

                <div>

                    <!-- THE DEVELOPER -->
                    <div v-if="tabIndex == 0" class="v-flex justify-center">
                        <div v-for="(dev, index) in devProjects" :key="dev.title"
                            class="d-flex flex-column align-center justify-center mb-5 xs-12"
                            :style="{'background-color': `${index % 2 == 0 ? '#181818' : '#121212'}` }">
                            <h2 class="mt-5">{{dev.title}}</h2>
                            <p v-if="dev.engine">
                            <div class="d-flex flex-row justify-center align-center">
                                <a :href="dev.engine.website" target="_blank" :style="{'text-decoration': 'none'}"
                                    class="mx-1">
                                    <v-btn rounded>
                                        <v-avatar size=27 tile>
                                            <svg>
                                                <image :xlink:href="dev.engine.icon" width="27" height="27" />
                                            </svg>
                                        </v-avatar>
                                        <span class="ml-2">{{dev.engine.name}}</span>
                                    </v-btn>
                                </a>

                                <div v-if="dev.repo !== undefined" class="mx-1">
                                    <a :href="dev.repo" target="_blank" :style="{'text-decoration': 'none'}">
                                        <v-btn rounded>
                                            <v-avatar size=30 tile>
                                                <svg>
                                                    <image xlink:href="img/github.svg" width="30" height="30" />
                                                </svg>
                                            </v-avatar>
                                            <span class="ml-1">Source</span>
                                        </v-btn>
                                    </a>
                                </div>

                                <div v-if="dev.store !== undefined" class="mx-1">
                                    <a :href="dev.store.link" target="_blank" :style="{'text-decoration': 'none'}">
                                        <v-btn rounded>
                                            <v-avatar size=30 tile>
                                                <svg>
                                                    <image :xlink:href="dev.store.icon" width="30" height="30" />
                                                </svg>
                                            </v-avatar>
                                            <span class="ml-1">App</span>
                                        </v-btn>
                                    </a>
                                </div>

                            </div>
                            </p>
                            <div class="d-flex flex-wrap justify-center align-center xs-12">
                                <div v-for="(img, index) in dev.imgs" :key="index" class="mx-2">
                                    <img :src="img" class="devImg">
                                </div>
                            </div>
                            <v-divider horizontal class="primary my-4"></v-divider>
                        </div>
                    </div>

                    <!-- THE ARTIST -->
                    <div v-if="tabIndex == 1" class="d-flex flex-column justify-center align-center ma-4">
                        <div class="mt-4"></div>
                        <v-alert type='info' class="xs-1">
                            <div class="d-flex flex-wrap align-left justify-center">
                                <span class="mr-1">This portfolio is under construction.</span>
                                <span>New pieces will be uploaded soon. </span>
                            </div>
                        </v-alert>

                        <div class="d-flex flex-wrap align-top justify-center">
                            <div v-for="(proj, projectIndex) in artProjects">
                                <v-hover v-slot="{ hover }">
                                    <v-badge :value="proj.imgs.length > 1" overlap :content="proj.imgs.length"
                                        offset-x="30" offset-y="30" color="primary">
                                        <v-card tile flat :class="{ 'on-hover': hover }"
                                            v-on:click="onArtProjectClick(projectIndex)">
                                            <div v-show="hover" :style="{'background-color': 'rgba(#000, 0.5f)'}">
                                            </div>
                                            <img :src="proj.imgs[0]" :alt="`Image ${projectIndex}`" width="300">
                                        </v-card>
                                    </v-badge>
                                </v-hover>
                            </div>
                        </div>

                        <v-dialog persistent fullscreen v-model="isArtDialogActive">
                            <div class="d-flex justify-center align-center artDetailedContainer">
                                <div v-if="currentArtProject !== undefined && currentArtProject.imgs.length > 0"
                                    class="d-flex justify-center align-center">
                                    <v-btn fixed right top icon x-large elevation="0"
                                        @click.prevent="isArtDialogActive = false">
                                        <v-icon size=60>mdi-close</v-icon>
                                    </v-btn>
                                    <v-btn fixed left icon text v-show="currentArtIndex > 0"
                                        :disabled="currentArtIndex <= 0" @click.prevent="decrementArtIndex">
                                        <v-badge bottom offset-x="20" offset-y="-20" :value="currentArtIndex > 0"
                                            :content="currentArtIndex">
                                            <v-icon size="80">mdi-chevron-left</v-icon>
                                        </v-badge>
                                    </v-btn>
                                    <img v-show="imgIndex === currentArtIndex"
                                        v-for="(img, imgIndex) in currentArtProject.imgs" :key="img" :src="img"
                                        class="artDetailed disable-text-selection">
                                    <v-btn fixed right icon text x-large elevation="0"
                                        v-show="currentArtIndex < currentArtProject.imgs.length-1"
                                        :disabled="currentArtIndex >= currentArtProject.imgs.length-1"
                                        @click.prevent="incrementArtIndex">
                                        <v-badge bottom offset-x="25" offset-y="-20"
                                            :value="currentArtIndex < currentArtProject.imgs.length-1"
                                            :content="currentArtProject.imgs.length - 1 - currentArtIndex">
                                            <v-icon size="80">mdi-chevron-right</v-icon>
                                        </v-badge>
                                    </v-btn>
                                </div>
                            </div>
                        </v-dialog>
                    </div>

                    <!-- ABOUT -->
                    <div v-if="tabIndex == 2">
                        <div class="mt-5"></div>
                        <div class="d-flex flex-column justify-center align-center">

                            <h2 class="mt-5">Channels</h2>
                            <div class="mb-4">
                                <div class="d-flex flex-row mt-2 justify-left">
                                    <v-icon class="mr-3">mdi-email</v-icon>
                                    <span>flaviofreitas.h@gmail.com</span>
                                </div>
                                <div class="d-flex flex-row mt-2 justify-left">
                                    <v-icon class="mr-3">mdi-discord</v-icon>
                                    <span>Melon Soda#5176</span>
                                </div>
                                <a class="d-flex flex-row mt-2 justify-left" :style="{'text-decoration': 'none'}"
                                    href="https://www.instagram.com/flafdraws/" target="_blank">
                                    <v-icon class="mr-3">mdi-instagram</v-icon>
                                    <span :style="{ color: 'white'}">Instagram DM</span>
                                </a>
                            </div>

                            <h2 class="mt-5">Available for hire</h2>
                            <div class="d-flex flex-row mt-2 mb-4 justify-left">
                                <v-chip class="mr-2" color=primary>Contract</v-chip>
                                <v-chip class="mr-2" color=primary>Freelance</v-chip>
                                <v-chip class="mr-2" color=primary>Full Time</v-chip>
                            </div>

                            <h2 class="mt-5">Software experience</h2>
                            <div class="d-flex flex-wrap mt-2 mb-4 justify-center">
                                <div v-for="software in about.software" :key="software.name" class="mx-5 mb-4">
                                    <v-avatar tile>
                                        <img :src="software.icon">
                                    </v-avatar>
                                    <span class="ml-1">{{software.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br class="my-5"></br>
                </div>


                <v-footer padless fixed bottom=0 dense dark>
                    <v-row justify="center" no-gutters>
                        <v-btn v-for="media in social" :key="media.icon" color="white" text icon class="ma-2">
                            <v-tooltip top>
                                <template v-slot:activator="{ on, attrs }">
                                    <a v-bind="attrs" v-on="on" :href="media.link" target="_blank">
                                        <v-avatar size=35>
                                            <svg>
                                                <image :xlink:href="media.icon" width="35" height="35" />
                                            </svg>
                                        </v-avatar>
                                    </a>
                                </template>
                                <span>{{ media.name }}</span>
                            </v-tooltip>
                        </v-btn>
                    </v-row>
                </v-footer>
            </v-main>
        </v-app>
    </div>
</body>

<script src="app.js"></script>

</html>