[v-cloak] {
    display: none;
}

.v-card {
    transition: opacity .4s ease-in-out;
}

.v-card.on-hover {
    opacity: 0.6;
}

.no-click {
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}

.zoom-in {
    cursor: zoom-in;
}

/* .artDetailed {
    max-width: 900px;
    max-height: 900px;
} */

.artDialog {
    width: 100vw;
    height: 100vh;
    background-color: #222;
}

.artCardBox {
    width: 300px;
    height: 300px;
}

.artCardImg {
    object-fit: contain !important;
}

.artDetailedContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.artDetailedNavsContainer {
    position: absolute;
}

.artDetailedImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100vw;
  height: 100vh;
}

.reveal {
    opacity: 1;
}

.devImg {
    max-width: 500px;
}

.profile {
    border: 3px solid #ddd;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.disable-text-selection {
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
}

.capitalize {
    text-transform: capitalize;
}

.scroll-top{
    margin-bottom: 50px;
}